    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload Gambar</title>
    </head>

    <body>

        <h2>Upload Gambar ke Database</h2>
        <form action="../action/upload_image.php" method="POST" enctype="multipart/form-data">
            <label for="name">Work Name:</label>
            <input type="text" name="name" id="name" required><br><br>

            <label for="title">title:</label>
            <input type="text" name="title" id="title" required><br><br>

            <label for="image">Pilih Gambar:</label>
            <input type="file" name="image" id="image" required><br><br>

            <input type="submit" value="Upload">
        </form>

    </body>

    </html>